{% extends "frontend/base.html.twig" %}

{% block title %}{{ 'Hauptseite' }}{% endblock %}

{% block body %}
    <div class="relative flex justify-center items-center min-h-screen">
        {% include 'frontend/partials/_background_image.html.twig' with {path: 'build/images/jpeg/wellensittich.jpg'} only %}


        {% include 'frontend/partials/card.html.twig' %} 

    </div>
{% endblock %}
