<div class="absolute inset-0 h-auto xxl:h-full w-full z-0" style="z-index: -1">
    <img src="{{ asset("/#{path}") | imagine_filter('background_image') }}"  alt="" class="w-full h-full object-cover"/>
</div>
